rancher_api_url                 = ""
rancher_access_key              = ""
rancher_secret_key              = ""
harvester_cloud_crenditial_name = "harvesterkvm"
harvester_name                  = "kvm"
image_name                      = "harvester-public/image-z5cht"
rke2_version                    = "v1.26.10+rke2r2"